
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRewardPointHistoryLabel" translate="coupllectorApp.rewardPointHistory.home.createOrEditLabel">Create or edit a Reward Point History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.rewardPointHistory.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.rewardPointHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="coupllectorApp.rewardPointHistory.changedDate" for="field_changedDate">Changed Date</label>
                <div class="input-group">
                    <input id="field_changedDate" type="text" class="form-control" name="changedDate" datetime-picker="{{dateformat}}" ng-model="vm.rewardPointHistory.changedDate" is-open="vm.datePickerOpenStatus.changedDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('changedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="coupllectorApp.rewardPointHistory.changedValue" for="field_changedValue">Changed Value</label>
            <input type="number" class="form-control" name="changedValue" id="field_changedValue"
                    ng-model="vm.rewardPointHistory.changedValue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="coupllectorApp.rewardPointHistory.balance" for="field_balance">Balance</label>
            <input type="number" class="form-control" name="balance" id="field_balance"
                    ng-model="vm.rewardPointHistory.balance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="coupllectorApp.rewardPointHistory.transaction" for="field_transaction">Transaction</label>
            <input type="text" class="form-control" name="transaction" id="field_transaction"
                    ng-model="vm.rewardPointHistory.transaction"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="coupllectorApp.rewardPointHistory.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.rewardPointHistory.comment"
                     />
        </div>

        <div class="form-group">
            <label translate="coupllectorApp.rewardPointHistory.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.rewardPointHistory.userId" ng-options="user.id as user.id for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
