<div>
    <h2 translate="coupllectorApp.userProfile.home.title">User Profiles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-profile.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="coupllectorApp.userProfile.home.createLabel">
                        Create new User Profile
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mobile"><span translate="coupllectorApp.userProfile.mobile">Mobile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="primaryEmailAddress"><span translate="coupllectorApp.userProfile.primaryEmailAddress">Primary Email Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alternativeEmailAddress"><span translate="coupllectorApp.userProfile.alternativeEmailAddress">Alternative Email Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rewardPoints"><span translate="coupllectorApp.userProfile.rewardPoints">Reward Points</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span translate="coupllectorApp.userProfile.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="streetAddressId"><span translate="coupllectorApp.userProfile.streetAddress">Street Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="postalAddressId"><span translate="coupllectorApp.userProfile.postalAddress">Postal Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userProfile in vm.userProfiles track by userProfile.id">
                    <td><a ui-sref="user-profile-detail({id:userProfile.id})">{{userProfile.id}}</a></td>
                    <td>{{userProfile.mobile}}</td>
                    <td>{{userProfile.primaryEmailAddress}}</td>
                    <td>{{userProfile.alternativeEmailAddress}}</td>
                    <td>{{userProfile.rewardPoints}}</td>
                    <td>
                        {{userProfile.userId}}
                    </td>
                    <td>
                        <a ui-sref="address-detail({id:userProfile.streetAddressId})">{{userProfile.streetAddressId}}</a>
                    </td>
                    <td>
                        <a ui-sref="address-detail({id:userProfile.postalAddressId})">{{userProfile.postalAddressId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-profile-detail({id:userProfile.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-profile.edit({id:userProfile.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-profile.delete({id:userProfile.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
